<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Mario Estrada</string>
	<key>Builder Version</key>
	<string>8536.26.17</string>
	<key>CFBundleDisplayName</key>
	<string>Omnikey</string>
	<key>CFBundleIdentifier</key>
	<string>ec.mario.omnikey</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleVersion</key>
	<string>1.0.6.2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>settings.html</string>
				<key>Height</key>
				<real>360</real>
				<key>Identifier</key>
				<string>Sites</string>
				<key>Width</key>
				<real>300</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>Toolbar</string>
				<key>Image</key>
				<string>img/icon.png</string>
				<key>Label</key>
				<string>OmniKey</string>
				<key>Popover</key>
				<string>Sites</string>
				<key>Tool Tip</key>
				<string>OmniKey Settings</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/end.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>https://*.google.com/*</string>
			<string>http://*.google.com/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Keyword searches for Safari's Omnibar-like search.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://marioestrada.github.com/safari-omnikey/update.plist</string>
	<key>Website</key>
	<string>http://marioestrada.github.com/safari-omnikey/</string>
</dict>
</plist>
