html{
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

body{
  overflow: hidden;
}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.toolbar{
  position: absolute;
  right: 10px;
  top: 10px;
}

.toolbar .btn {
  float: right;
  margin-left: 8px;
}

.btn {
  background: #fff;
  border: 1px solid #acacac;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  padding: 2px 10px;
  color: #262626;
  text-decoration: none;
  font-size: 13px;
  border-radius: 4px;
}
.btn:active,
.btn.add-site {
  color: #fff;
  border: 1px solid #393EFF;
}
.btn.add-site {
  background: #2870FF linear-gradient(to top, #2870FF, #64ACFF);
}
.btn:active {
  box-shadow: none;
  background: #2870FF linear-gradient(to top, #2870FF, #64ACFF);
}

h1{
  font-weight: normal;
  font-size: 20px;
  margin: 0 0 8px;
  padding-top: 2px;
  text-shadow: 0 1px 0 #fff;
}

table{
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border: 1px solid #ccc;
  max-height: 464px;
  overflow: auto;
}

thead th{
  font-weight: normal;
  text-align: left;
  font-size: 11px;
}

thead tr{
  background: #fff;
}
thead th:not(:first-child) {
  position: relative;
}
thead th:not(:first-child)::before {
  content: '';
  background: #E5E5E5;
  position: absolute;
  width: 1px;
  top: 2px;
  bottom: 2px;
  left: 0;
}

table td,
table th{
  padding: 3px 5px;
  position: relative;
}

td input{
  display: none;
  width: 80%;
}
td.editing input{
  display: inline;
}
td.editing .label{
  display: none;
}

td .remove{
  display: none;
  position: absolute;
  right: 8px;
  top: 2px;
  overflow: hidden;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  text-align: center;
  line-height: 14px;
  font-family: monospace;
  background: #bbb;
  opacity: 0.8;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
  -webkit-transform: rotate(45deg);
}
tr:hover .remove {
  display: block;
}
td .remove:hover{
  opacity: 1;
}

tbody tr:nth-child(even){
  background-color: #F3F6FA;
}

#sites-table{
  border-top: 0;
  border-bottom: 0;
}

#sites-scroller{
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  max-height: 280px;
  overflow: auto;
  display: block;
}

table th.key,
table td.key{
  width: 25%;
}

table th.url,
table td.url{
  width: 75%;
}

#import-export textarea {
  resize: none;
  height: 170px;
  font-family: monospace;
  font-size: 10px;
  box-sizing: border-box;
  width: 100%;
}
#import-export .textarea-section {
  position: relative;
}
#import-export .export-copy,
#import-export .import-data {
  position: absolute;
  bottom: 6px;
  right: 4px;
}

p.footer{
  font-size: 10px;
  text-shadow: 0 1px 0 #fff;
  margin: 8px 0 0;
}
p.center{
  text-align: center;
}
p.footer code{
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1px 2px;
}

p.footer select{
  width: 80px;
}
