/* Omnikey site CSS */

body{
    background: #f9f2f8;
}

.container{
    max-width: 940px;
}

.hero-unit{
    height: 260px;
    background: url('../img/hero-image.jpg') no-repeat;
    margin-bottom: 20px;
}
.hero-unit h1{
    font-size: 40px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.hero-unit p{
    font-size: 16px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.social{
    overflow: auto;
    margin-bottom: 10px;
}

.social .button{
    float: left;
    margin-right: 10px;
    min-width: 120px;
}
